<h1>appFinder</h1>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td> {{name}}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    
  </tr>
  {{/each}}
</table>
