<div class="container">
  <h1>{{ appFinder }}</h1>
  <p>Welcome to authenticated page, {{ user.username }}!</p>
  <div><a href = "/users/change-password">Change Password</a></div>
  <div><a href="/users/logout">Logout</a></div>
</div>
